@import '../../../assets/styles/imports/_imports.scss';

#content-testmonials {
    h2 {
        font-family: $font-secondary;
        color: $color-dark-purple;
        font-size: 6rem;
        margin-bottom: 3rem;
        text-align: center;
        @include responsive(s3) {
            font-size: 5rem;
        }
        @include responsive(s4) {
            font-size: 4rem;
        }
    }
    img {
        height: 120px;
        width: 120px;
        @extend .center-translate;
        margin-bottom: 3rem;
        @include responsive(s3) {
            height: 100px;
            width: 100px;
        }
        @include responsive(s4) {
            height: 80px;
            width: 80px;
        }
    }
    h3 {
        color: $color-light-purple;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
        padding: 0 30%;
        margin-bottom: 7rem;
        @include responsive(s2) {
            padding: 0;
            margin-bottom: 4rem;
        }
        @include responsive(s3) {
            font-size: 1.1rem;
        }
    }
}