@import '../../../assets/styles/imports/_imports.scss';

#content-about{
    h2{
        font-family: $font-secondary;
        color: $color-dark-purple;
        font-size: 6rem;
        margin-bottom: 3rem;
        @include responsive(s3) { text-align: center; font-size: 4rem; margin-bottom: 1rem; }
    }
    h3{
        color: $color-light-purple;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        @include responsive(s3) { text-align: center; font-size: 1rem; margin-bottom: 1rem; }
    }
    p{
        font-family: $font-tertiary;
        color: $color-dark-purple;
        line-height: 2rem;
        margin-bottom: 2rem;
        @include responsive(s3) { text-align: center; }
    }
    img{
        height: 120px;
        width: 120px;
        margin-top: 1rem;
        margin-bottom: 4rem;
        @include responsive(s3) {
            height: 100px;
            left: 50%;
            position: relative;
            -webkit-transform: translate(-50%, 0) !important;
            -moz-transform: translate(-50%, 0) !important;
            -ms-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
        }
        @include responsive(s4) {
            height: 80px;
        }
    }
}