@import '../../assets/styles/imports/_imports.scss';

.owl-carousel {
    .owl-dots {
        margin-top: 2em !important;
        position: absolute;
        width: 100%;
        @include responsive(s3) {
            margin-top: 0em !important;
        }
        .owl-dot {
            span {
                @include transition(0.25s);
            }
            &:hover {
                span {
                    background-color: $color-light-purple !important;
                }
            }
            &.active {
                span {
                    background-color: $color-light-purple !important;
                }
            }
        }
    }
}

.row-testimony {
    p {
        text-align: center;
        padding: 0 15%;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        &:after {
            content: '';
            position: absolute;
            width: 8em;
            height: 3px;
            background-color: $color-light-pink;
            left: 50%;
            float: left;
            margin-top: 40px;
            @extend .center-translate;
        }
        @include responsive(s2) {
            padding: 0 10%;
        }
        @include responsive(s3) {
            font-size: 0.9rem;
        }
    }
    img {
        margin-top: 3.2rem;
    }
    h5 {
        color: $color-light-pink;
        @include responsive(s3) {
            margin-bottom: 4rem;
        }
    }
    h4,
    h5 {
        text-align: center;
        @include responsive(s3) {
            font-size: 1rem;
        }
    }
}